
/*CLASSES*/

/*For "about" page table format*/
.about_table {
    background-color: #05304F;
    border-color: #05304F;
    color: white
}


/*For "books" page table format*/
.book_table {
    margin: auto;
    width: 60%;
    background-color: #05304F;
    border-color:white;
    color: white
}

/*For hover effect on books table*/
.trhover:hover {
    background-color: darkgray;
}

/*For book table head*/
thead {
    background-color: darkred;
}

/*To make button dark red*/
.darkred {
    background-color: darkred;
    border-color: darkred;
    padding-left: 20px;
    padding-right: 20px;
}

/*To make "about" table text large*/
.table_text {
    font-size:larger;
}

/*For responsive images and text*/
.responsive {
    width: 100%;
    height: auto;
  }

/*For responsive paragraph width*/
.parwidth {
    width: 60%;
    margin:auto;
}





/*GENERAL FORMATTING*/

nav {
    padding: 10px;
    margin-bottom: 40px;
    background-color: darkred;
    color: white;
}


body {
    background-color: #05304F;
}

h1 {
    color: white;
    padding-bottom: 20px;
}

img {
    margin-right: 20px;
}

td, tr, thead, label, h3, a {
    color: white;
}

footer{
    background-color: darkred;
    color: white;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }


  



